@import "./index.scss";

.footer {
  height: auto;
  max-width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $--brown-100;

  .decoration {
    width: 0;
    height: 0;
    border: 25px solid;
    border-color: $--yellow-50 transparent transparent transparent;
  }

  #contact {
    height: auto;
    max-width: 100%;
    display: flex;
    margin: 60px 60px;
    .logo {
      width: 20vw;
      height: auto;
      margin-right: 50px;
    }
    .mapBox {
      position: relative;
      width: 25vw;
      height: 50vh;
      background: $--white;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .contact-box {
      padding: 50px;
      padding-top: 0;
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      .decoration2 {
        width: 20vw;
        height: 10px;
        margin-bottom: 10px;
        background-color: $--white;
      }
      h1 {
        font-weight: bolder;
        margin-bottom: 20px;
        color: $--yellow-100
      }
      .contact{
        text-decoration: none;
        display:flex;
        .icon {
          filter: invert(80%) sepia(27%) saturate(327%) hue-rotate(1deg) brightness(109%) contrast(94%);
          width: 30px;
          margin-bottom: 10px;
        }
        span {
          font-style: normal;
          font-weight:bolder;
          color: $--yellow-100;
          font-size: 1rem;
          margin-left: 10px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .footer {
    #contact {
      flex-direction: column;
      .logo {
        width: 50vw;
        margin-bottom: 50px;
        margin-right: 0;
      }
      .mapBox {
        width: 60vw;
        height: auto;
        margin-bottom: 50px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .footer #contact{
    .logo {
      width: 80%;
    }
    .contact-box .contact span{
      font-size: 0.5rem;
    } 
  }
}
