@import "./index.scss";

.footer {
  @include senction-settings(100px, 0, 0, 0);
  @include background-settings($--brown-100, false);
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  justify-content: flex-start;

  .decoration {
    width: 0;
    height: 0;
    border: 25px solid;
    border-color: $--yellow-50 transparent transparent transparent;
  }

  #contact {
    max-width: 100%;
    height: auto;
    display: flex;
    margin: 60px 60px;
    @media screen and (max-width: 1120px) {
      flex-direction: column;
    }
    @media screen and (max-width: $screen-sm) {
      margin: 0;
    }
    .logo {
      width: 20vw;
      height: auto;
      margin-right: 50px;
      @media screen and (max-width: 1120px){
        width: 50vw;
        margin-bottom: 50px;
        margin-right: 0;
      }
      @media screen and (max-width: $screen-xs) {
        width: 80vw;
      }
    }
    .mapBox {
      position: relative;
      width: 25vw;
      height: 50vh;
      background: $--white;
      @media  screen and (max-width: 1120px) {
        width: 60vw;
        height: auto;
        margin-bottom: 50px;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .contact-box {
      padding: 50px;
      padding-top: 0;
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      h1 {
        font-weight: bolder;
        margin-bottom: 20px;
        color: $--yellow-100
      }
      .contact{
        text-decoration: none;
        display:flex;
        .icon {
          filter: invert(80%) sepia(27%) saturate(327%) hue-rotate(1deg) brightness(109%) contrast(94%);
          width: 30px;
          margin-bottom: 10px;
        }
        span {
          font-style: normal;
          font-weight:bolder;
          color: $--yellow-100;
          font-size: 1rem;
          margin-left: 10px;
          transform: translateY(-50%);
        }
      }
    }
  }
}
