@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');


$max: 10000;

//  break point
$screen-xs: 480px;
$screen-sm: 840px;
$screen-md: 992px;
$screen-lg: 1200px;

// 輔助色表
$--white: #fff;
$--black: #000;
$--brown-50: #af3314;
$--brown-100: #9e261b;
$--orange-50: #f5a02a;
$--orange-100: #ee7748;
$--yellow-50: #fdf2d8;
$--yellow-100: #f7e3b1;
$--yellow-200: #f0f19c;
$--red-200: red;

// 特殊樣式參考色表
$--merchandise-animation-100: #fac960;
$--merchandise-animation-200: rgba(245,160,42,.5);
$--gallery-popup-bg: rgba(222,184,135,.5);
$--icon-hover: #ffc0cb;
$--card-shadow-100: 0px 8px 38px rgba(0, 0, 0, 0.1);
$--card-shadow-200: 0px 18px 38px rgba(0, 0, 0, 0.2);
$--card-shadow-300: 0px 7px 10px rgba(0, 0, 0, 0.5);
$--time-background: rgba(0, 0, 0, 0.7), rgba(79, 76, 76, 0.5), rgba(5, 5, 5, 0.8);

// 主頁底板設計以及其他內容裝飾

* {
  font-family: "Noto Sans TC", 'Secular One', Arial, sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  margin:0;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

:root {
  font-size: 18px;
  -webkit-text-size-adjust: none;
  background-color: $--yellow-50;
  overflow-x: hidden;
  @media screen and (max-width: $screen-xs){
    font-size: 16px;
  }
}

@mixin senction-settings($my: 100px, $mx: 100px, $py: 100px, $px: 100px) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: $my $mx;
  padding: $py $px;
}

@mixin background-settings($bg, $photo-as-bg: false, $bg-position: center, $bg-size: cover){
  background: $bg;
  @if $photo-as-bg {
    background-position: $bg-position;
    background-size: $bg-size;
  }
}

@mixin decoration-strips($wt, $ht, $my, $mx, $color){
  width: $wt;
  height: $ht;
  margin: $my $mx;
  background-color: $color;
}

.strips-red {
  @include decoration-strips(15vw, 10px, 0, 10px, $--red-200);
}

.strips-orange {
  @include decoration-strips(50vw, 10px, 10px, 0, $--orange-100);
  max-width: 300px;
  margin-top: 0px;
}

.content-titleWrapper {
  width: 100%;
  height: 4vmin;
  display: flex;
  align-items: baseline;
  margin-bottom: 60px;

  .content-title {
    font-weight: bolder;
    font-size: 2rem;
    color: $--orange-50;
  }
}

.content-description {
  margin-bottom: 50px;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  max-width: 80%;
}

.socialMedia {
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 60px;
  float: right;
  margin-top: -60px;
  opacity: 1;
  z-index: 20;
}

.calling {
  @extend .socialMedia;
  right: 280px;
}

.map {
  @extend .socialMedia;
  right: 180px;
}

.facebook {
  @extend .socialMedia;
  right: 80px;
}

.icon {
  color: $--white;
  font-size: 3.5rem;
  &:hover {
    color: $--icon-hover;
    transition: 0.5s all;
  }
}

.btnGroup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btn{
    position: relative;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    margin: 0 5px;
    background: $--orange-50;
    display: inline-block;
    text-transform: uppercase;
    color: $--brown-100;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 14px;
    border: 3px solid $--brown-100;
  }
  
  .btn-active{
    @extend .btn;
    color: $--black;
    background: rgba($--orange-50, .3);
  }
}
