.home{
    #about{
        position: relative;
        height:30vh;
        width: 100%;
        display: flex;
        justify-content: left;
        box-sizing: border-box;
        margin-bottom: 100px;
        background-color: ;
        }

    .about-enter-active{
        transition: .8s ease all;
    }
    // .about-leave-active{
    //     transition: .2s ease all;
    // }

    .about-enter-from,
    .about-leave-to{
        transform: translateX(-500px);
    }

    .about-enter-to{
        transform: translateX(0px);
    }
}