@import "@/assets/scss/Home/home.scss";

#photos{
    height:120vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width:850px) {
        height: 45vh;
    }

    .wrapper{
        margin-top: 50px;
        max-width: 890px;

        .gallery{
            display: flex;
            flex-wrap: wrap;
            .image{
                padding: 30px 10px;
                width: calc(100% / 5);
                @media screen and (max-width:800px) {
                    width:calc(100%/2.8);
                }
                span{
                    display: flex;
                    width: 100%;
                    height: auto;
                    border-radius: 15px;
                    overflow: hidden;

                }
                img{
                    max-width: 200px;
                    height: auto;
                    object-fit: cover;
                    vertical-align: middle;
                    transition: all 0.3s ease;
                    
                }
                &:hover img{
                    transform: scale(1.1);
                }
            }
        }
    }

    .preview-box{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        background: #fff;
        max-width: 700px;
        width: 100%;
        z-index: 5;
        opacity: 0;
        pointer-events: none;
        border-radius: 3px;
        padding: 0 5px 5px 5px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
        
        .show{
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            transition: all 0.3s ease;
        }
        .details{
            display: flex;
            align-items: center;
            padding: 12px 15px 12px 10px;
            justify-content: space-between;
            .title{
                display: flex;
                font-size: 18px;
                font-weight: 400;
                p{
                    margin: 0 5px;
                    .current-img{
                        font-weight: 500;
                    }
                }
            }
            .icon{
                color: #007bff;
                font-size: 20px;
                cursor: pointer;
            }
        }
        
        .image-box{
            display: flex;
            width: 100%;
            position: relative;
            img{
                width: 100%;
                border-radius: 0 0 3px 3px;
            }
            .slide{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                font-size: 30px;
                cursor: pointer;
                height: 50px;
                width: 60px;
                line-height: 50px;
                text-align: center;
                border-radius: 3px;
                .prev{
                    left: 0px;
                }
                .next{
                    right: 0px;
                }
            }
        }   
    }
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
}

:deep .swiper-area{
    width: 100%;
    height: 60%;
    margin-top: 50px;

    .swiper-container{
        height:100%;
        

         .swiper-wrapper{
            
            display: flex;
            justify-content: flex-start;
        }
        
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
        
            /* Center slide text vertically */
            display: flex;
            
            align-items: center;
            img{
                width: 50%;
                height: auto;
                bor
            }
        }
    }
}
