
// 主頁底板設計以及其他內容裝飾
html{
    font-size:20px;
}


.home{
    margin: 0;
    background: #F5A02A;
    width: 100%;
    height: 100%;
    
}

.home_picture{
    height:80%;
    width:80%;
}

.content-titlewrapper{
    width: 100%;
    height: 4vmin;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    .decoration{
        height: 10px;
        width: 100px;
        background-color: red;
        margin: 0px 10px;
    }
    .content-title{
        font-weight: bolder;
        font-size: 2rem;
        color:aliceblue
    }
}

.content-description{
    margin-bottom: 80px;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    @media (max-width) {
        word-wrap:
    }
}

.btn{
    cursor:pointer;
    position: relative;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.3rem;
    font-style:normal;
    background: #f72585;
    color:#edf2fb;
    margin-bottom: 50px;
    &:hover{
        background: #530de9;
        color:#edf2fb;
    }
}