
// 主頁底板設計以及其他內容裝飾


.home{
    margin: 0;
    background: #F5A02A;
    width: 100%;
    height: 100%;
    
}

.home_picture{
    height:80%;
    width:80%;
}

.content-titlewrapper{
    width: 100%;
    height: 4vmin;
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    .decoration{
        height: 10px;
        width: 100px;
        background-color: red;
        margin: 0px 10px;
    }
    .content-title{
        font-weight: bolder;
        font-size: 5vmin;
        color:aliceblue
    }
}

.content-description{
    margin-bottom: 80px;
    font-size: 3vmin;
    font-weight: 700;
    text-align: center;
}

.btn{
    position: relative;
    border-radius: 4px;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    margin-top: 20px;
    color:#edf2fb;
    font-weight: 500;
    background-color: #facd8e;
}