@import "@/assets/scss/Home/home.scss";

#photos{
    height:50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    
    .swiper {
        width: 600px;
        height: 300px;
      }
    
}



