.home{
    .sec4{
        height:50vh;
        width: 100%;
        display: flex;
        align-items: stretch;
        .decoration2{
            height: 1vmin;
            width:20vw;
            background-color: #AF3314;
        }
        .swiper-wrapper{
            
        }
    }
}