.home{
    .sec4{
        height:60vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        .decoration2{
            height: 1vmin;
            width:20vw;
            background-color: #AF3314;
            margin-bottom: 50px;
        }
        .swipper-wrapper{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .decoration3{
            height: 1vmin;
            width:20vw;
            background-color: #AF3314;
            margin-top: 50px;
        }
    }
}