.home{
    .sec5{
        height: 60vh;
        width: 100%;
        display: flex;
        .mapBox{
            position: relative;
            width: 35vw;
            height: 50vh;
            background: #fff;
            margin: 50;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}