.home{
    .sec4{
        height:50vh;
        width: 100%;
        display: flex;
        al
        .decoration2{
            height: 1vmin;
            width:20vw;
            background-color: #AF3314;
        }
    }
}