.home{
    .sec5{
        height: 100vh;
        width: 100%;
        display: flex;
        .mapBox{
            position: relative;
            width: 50vw;
            height: 10vh;
            background: #fff;
        }
    }
}