@import "@/assets/scss/Home/home.scss";

    #time{
        width:100%;
        height:72vh;
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(79, 76, 76, 0.5), rgba(5, 5, 5, 0.8)) ,url("../assets/picture/store.jpg");
        background-position: center;
        background-size: cover;
        z-index: max;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .store-name{
            font-weight: bolder;
            font-size: 2rem;
            display: flex;
            justify-content: center;
            color: rgb(240, 241, 156);
            justify-content: center;
            margin-top: 50px;
            @media screen and (max-width:800px) {
                .store-name{
                    font-size: 1rem;
                }
            }
        }
        .store-subname{
            font-weight: bolder;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            color: rgb(240, 241, 156);
            justify-content: center;
            margin-bottom: 20px;
        }
        .timetable{
            display: inline-block;
            padding: 20px;
            transition: .5s;
            &:hover{
                background: rgba(247,227,177,0.4);
            }
            .timetable-subtitle{
                font-weight: bolder;
                font-size: 1.8rem;
                display: flex;
                color: azure;
                justify-content: center;
                margin-bottom: 20px;
            }
            ul{
                padding: 0;
                li{
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    font-size: 1.2rem;
                    margin-bottom: 5px;
                    color:azure;
                    p{
                        font-family:'Secular One';
                        color:azure;
                    }
                }
            } 
        }
    }

