@import "../index.scss";

#about {
  @include senction-settings(100px, 0, 0, 0);

  .title {
    font-size: 2rem;
    color: $--brown-100;
  }
  .content {
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
    color: $--brown-100;
  }
}

@media screen and (max-width: $screen-md) {
  #about {
    .content {
      width: 80%;
      font-size: 1.1rem;
    }
  }
}
