@import "@/assets/scss/Home/index.scss";

#comment {
  display: flex;
  flex-direction: column;
  margin-top: 60px;

  :deep(.swiper-area) {
    width: 100%;
    .swiper-wrapper {
      display: flex;
      justify-content: flex-start;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      .comment-card {
        display: grid;
        grid-template-columns: repeat(7, 30px);
        grid-template-rows: 30px 90px 30px;
        grid-gap: 15px 15px;
        padding: 50px;
        margin: 40px 0;
        margin-bottom: 80px;
        color: $black;
        background-color: $white;
        border-radius: 30px;
        box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.1);

        &:hover {
          box-shadow: 0px 18px 68px rgba(0, 0, 0, 0.2);
          transform: translateY(-5px);
        }
        .stars {
          grid-area: 1/1/1/5;
          .icon {
            font-size: 2rem;
            color: $yellow;
          }
        }
        .comment-content {
          grid-area: 2/1/2/7;
        }
        .headIcon {
          grid-area: 3/1/3/1;
          .icon {
            font-size: 2rem;
            color: $dark-brown;
          }
        }
        .name {
          grid-area: 3/2/3/7;
          color: $orange;
          font-weight: bold;
          font-size: large;
        }
        .record-time {
          grid-area: 1/5/1/7;
          font-size: small;
        }
      }

      .addNewComment {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0px 8px 38px rgba(0, 0, 0, 0.1);
        .addComment {
          margin: 0;
          transform: scale(4);
          opacity: 0.5;
          &:hover{
            cursor: pointer;
            opacity: 1;
          }
        }
      }  
    }

    .swiper-button-prev {
      --swiper-navigation-size: 30px;
      color: $dark-brown;
    }
    .swiper-button-next {
      --swiper-navigation-size: 30px;
      color: $dark-brown;
    }
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      display: inline-block;
      border-radius: 50%;
      background: $black;
      opacity: 0.6;
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $light-orange;
    }
  }

  .input{
    width:1000px;
    min-height: 400px;
    border-style: solid;
    border-width: 2px;
    .nameLabel{
      margin: 0 20px;
      font-size: 20px;
      display: block;
    }
    .name{ 
      width:250px;
      min-height:30px;
      margin:0 20px;
      margin-bottom: 10px;
    }
    .star{
      width:30px;
      min-height: 30px;
    }
    .icon {
      position: relative;
      top:10px;
      font-size: 2rem;
      margin-left: 10px;
      color: $yellow;
    }
    .commentLabel{
      margin: 0 20px;
      font-size: 20px;
      display: block;
    }
    .content{
      min-height:200px;
      width: 460px;
      display: block;
      margin: 20px;
      margin-top: 2px;
    }
    .buttonBox{
      display: flex;
      justify-content: end;
      margin: 0 10px;
    }
  }
}

@media screen and (max-width: $screen-xs) {
  #comment {
    :deep(.swiper-area .swiper-slide .comment-card) {
      grid-template-columns: repeat(8, 20px);
      grid-template-rows: 20px 60px 20px;
      grid-gap: 20px 20px;
      padding: 10px;
      .stars .icon {
        font-size: 1rem;
      }
      .comment-content {
        font-size: 0.8rem;
      }
      .headIcon .icon {
        font-size: 1rem;
      }
      .name {
        font-size: 0.8rem;
      }
      .record-time {
        font-size: 0.8rem;
      }
    }
  }
}
