@import "../index.scss";

#comment {
  @include senction-settings(60px, 0, 0, 0);

  :deep(.swiper-area) {
    max-width: 100%;
    .swiper-container{
      .swiper-wrapper {
        display: flex;
        justify-content: flex-start;
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        .comment-card {
          display: grid;
          grid-template-columns: repeat(7, 30px);
          grid-template-rows: 30px 100px 30px;
          grid-gap: 25px 25px;
          padding: 50px;
          margin: 20px 0;
          margin-bottom: 80px;
          color: $--black;
          background-color: $--white;
          border-radius: 30px;
          box-shadow: $--card-shadow-100;
          transition: all 0.3s ease-in-out;
        
          &:hover {
            box-shadow: $--card-shadow-200;
            transform: translateY(-5px);
          }
          .vue-star-rating{
            transform: scale(2.5) translateY(-5px) translateX(8px)
          }
          .comment-content {
            cursor: pointer;
            grid-area: 2/1/2/7;
            overflow: hidden;
          }
          .headIcon {
            grid-area: 3/1/3/1;
            .icon {
            font-size: 2rem;
            color: $--brown-100;
            }
          }
          .name {
            grid-area: 3/2/3/7;
            color: $--orange-100;
            font-weight: bold;
            font-size: large;
          }
        }
      }
    }
  }

  .commentList {
    position: relative;
    width: 100%;
    height: 200vh;
    padding: 50px;
    overflow: hidden;

    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 500px;
      background: linear-gradient(transparent, $--yellow-50);
    }
    @media screen and (max-width: $screen-xs) {
     padding: 10px; 
    }
    .comment-card {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(20, 2%);
      grid-template-rows: 10% auto auto;
      grid-gap: 20px 20px;
      padding: 50px;
      margin: 20px 0;
      color: $--black;
      background-color: $--white;
      border-radius: 30px;
      box-shadow: $--card-shadow-100;
      transition: all 0.3s ease-in-out;
      
      @media screen and (max-width: $screen-sm ) {
        grid-template-columns: repeat(15, .2%);
      }
      @media screen and (max-width: $screen-xs ) {
        grid-template-columns: repeat(15, .2%);
      }
    
      &:hover {
        box-shadow: $--card-shadow-200;
        transform: translateY(-5px);
      }
      .vue-star-rating{
        grid-area: 1/1/1/5;
        @media screen and (max-width: $screen-sm) {
          grid-area: 1/1/1/8;
        }
        @media screen and (max-width: $screen-xs) {
          grid-area: 1/1/1/8;
        }
      }
      .comment-content {
        grid-area: 2/1/2/20;
        font-size: .8rem;
        @media screen and (max-width: $screen-xs) {
          grid-area: 2/1/2/15;
        }
      }
      .headIcon {
          grid-area: 3/1/3/3;
          .icon {
            font-size: 2rem;
            color: $--brown-100;
          }
          @media screen and (max-width: $screen-sm) {
            grid-area: 3/1/3/4;
          }
          @media screen and (max-width: $screen-xs) {
            grid-area: 3/1/3/4;
          }
      }
      .name {
          grid-area: 3/3/3/10;
          color: $--orange-100;
          font-weight: bold;
          font-size: large;
          @media screen and (max-width: $screen-sm) {
            grid-area: 3/4/3/15;
          }
          @media screen and (max-width: $screen-xs) {
            grid-area: 3/4/3/15;
          }
      }
    }
  }

  .active{
    height: auto;
    overflow: visible;
    &::before{
      display: none;
    }
  }
}

.more-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: $--orange-100;
  border: none;
  color: $--white;
  text-align: center;
  font-size: 17px;
  padding: 16px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.more-btn:hover {
  transform: scale(1.1);
}

.more-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}