@import "../index.scss";

#photos {
  @include senction-settings(100px, 0, 0, 0);

  .wrapper {
    max-width: 1000px;
    margin-top: 20px;

    .gallery {
      display: flex;
      flex-wrap: wrap;
      padding: 0 20px;
      .image {
        padding: 30px 10px;
        width: calc(100% / 4);
        height: auto;
        cursor: pointer;
        @media screen and (max-width: $screen-sm) {
          width: calc(100% / 3);
        }

        span {
          display: flex;
          width: 230px;
          height: 180px;
          border-radius: 20px;
          overflow: hidden;
          @media screen and (max-width: $screen-md) {
            width: 220px;
            height: 18vw;
          }
          @media screen and (max-width: $screen-sm) {
            width: 220px;
            height: 20vw;
          }
        }
        .initial_img {
          object-fit: cover;
          vertical-align: middle;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.4);
            transition: 1s;
          }
        }
      }
    }
  }
}

:deep(.swiper-area) {
  max-width: 100%;
  height: auto;
  .swiper-container{
    height: 80vw;
    .swiper-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .swiper-slide {
      width: 100%;
      // align-items: center;
      img {
        width: 80vw;
        height: 60vw;
        border-radius: 10%;
        border: 10px solid rgba($--orange-100, .8);
      }
    }
  }
}
