@import "../index.scss";

#merchandise {
  @include senction-settings(100px, 0, 0, 0);
  @media screen and (max-width: $screen-md) {
    overflow: hidden;
  }

  .cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $screen-md) {
      display: block;
    }

    .card {
      width: calc(100vw/3);
      height: 25vw;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto 50px;
      padding: 1rem;
      background: $--yellow-200;
      box-shadow: $--card-shadow-300;
      transform: 0.5s ease-in-out;
      border-radius: 20px;

      @media screen and (max-width: $screen-md) {
        width: 100px;
        height: 50px;
        padding: 0;
        margin-bottom: 50px;
      }

      &:hover {
        transform: translateY(20px);
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background: linear-gradient(
          to bottom,
          $--merchandise-animation-200,
          $--merchandise-animation-100
        );
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
        border-radius: 20px;
      }
      &:hover::before {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
      }
      .info {
        position: relative;
        z-index: 3;
        color: $--white;
        opacity: 0;
        line-height: 30px;
        transform: translateY(30px);
        transition: 0.5s all;
        h2 {
          span {
            font-size: .5rem;
            font-weight: bold;
            line-height: 10px;
          }
        }
        p {
          letter-spacing: 1px;
          font-size: 1rem;
          margin-top: 8px;
          margin-bottom: 20px;
        }
      }
      &:hover .info {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

:deep(.swiper-area) {
  max-width: 100%;
  height: auto;
  .swiper-container{
    @media screen and (max-width: $screen-xs) {
      min-height: 80vw;
    }
    min-height: 40vw;
    height: auto;
    .swiper-wrapper {
      height: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .swiper-slide {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 50vw;
        @media screen and (max-width: $screen-xs) {
          width: 70vw;
        }
        height: auto;
        border-radius: 10%;
        border: 10px solid rgba($--orange-100, .3);
      }
      .description {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
  
        .item-content {
          font-size: 1rem;
          margin: 20px;
  
          span {
            font-size: 1.5rem;
            font-weight: bolder;
          }
        }
      }
    }
  }
}

