@import "@/assets/scss/Home/home.scss";

#news{
    position: relative;
    height:44vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 30px;
    background-color: $brown;
    .icon-container{
        position: relative;
        max-width: 100%;
        height: auto;
        top:-110px;
        display: inline-flex;
        align-items: flex-end;
        a{
            text-decoration:none;
          } 
        .icon{
            color:#F7E3B1;
            font-size: 2rem;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span{
                font-style: normal;
                font-size: 1rem;
                margin-left: 10px;
                }
        }
    }
    h1{
        font-size: 3rem;
        color: $white;
    }
    p{
        font-size: 2.2rem;
        margin-top: 20px;
        color: $white;
    }
}
@media screen and (max-width:$screen-md) {
    #news{
        height: 30vh;
        margin-bottom: 0px;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 2rem;
        }
    }
}
