.home{
    margin: 0 auto 0 auto;
    background: #F5A02A;
    width: 65%;
    height: 100vh;
    .sec1{
      width:100%;
      height:55vh;
      background: url("../assets/picture/store.jpg");
      background-size: cover;
      .timetable{
        display: inline-block;
        background: rgba(247,227,177,0.7);
        padding: 20px;
        margin: 100px;
        margin-left: 50px;
        p{
          font-weight: bolder;
          font-size: 3vmin;
          margin-bottom: 5px;
        }
        li{
          font-size: 2.5vmin;
          margin-bottom: 5px;
          color:#AF3314;
        }
      }
    }
    .sec2{
        height:30vh;
        width: 100%;
        display: flex;
        justify-content: left;
        .decoration{
            height:7vh;
            width: 25vh;
            background-color: #AF3314;
            justify-content: right;
        }
        p{
            font-size: 4.5vmin;
            font-weight: bolder;
            color:aliceblue;
        }
    }
    .sec3{
        .wrapper{
            width:40%;
            display: flex;
            justify-content: space-around;
            .card{
                width:280px;
                height:360px;
                padding: 2rem 1rem;
                background: #F5A02A;
                position: relative;
                display: flex;
                align-items: flex-end;
                box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
                transform: 0.5s ease-in-ou;
            }
        }
    }
  }
  .home_picture{
    height:80%;
    width:80%;
  }