$main-color:#FEDB8E;
$text-color: black;

.container{
    backgroundï¼š
    height: 100%;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}