@import "@/assets/scss/Home/home.scss";

header{
    position: fixed;
    top: 0;
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: .7s;
    @media screen and (max-width:850px) {
      display: flex;
      justify-content: flex-end;
    }

      // .logo{
      //   color:rgb(255, 255, 255);
      //   font-weight: 700;
      //   text-decoration: none;
      //   font-size:2em;
      //   text-transform: uppercase;
      //   background: none;
      //   margin-right: 200px;
      // }
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        li{
          list-style: none;
          margin-right: 20px;
          background: none;
          @media screen and (max-width:850px){
            margin-right: 0;
          }
          a{
              color:#F7E3B1;
              border-radius: 20px;
              height:50px;
              line-height: 50px;
              display: inline-block;
              text-decoration: none;
              font-size: 1.2rem;
              font-weight:bolder;
              padding: 0 15px;
              letter-spacing: 1px;
              cursor: pointer;
              

              &:hover{
                  color:aliceblue;
                  background-color: #ee7748;
                  @media screen and (max-width:850px) {
                    background-color: transparent;
                    filter: invert(49%) sepia(78%) saturate(625%) hue-rotate(330deg) brightness(103%) contrast(87%);
                  }
              }

              i{
                color: rgb(255, 255, 255);
              }
            }
          a.router-link-exact-active{
              color:aliceblue;
              background-color: #ee7748;
              @media screen and (max-width:850px) {
                background-color:transparent;
                filter: invert(49%) sepia(78%) saturate(625%) hue-rotate(330deg) brightness(103%) contrast(87%);
              }
          }
        }
      } 
  }

.scrolled-nav{
  background: #9E261B;
  height: 65px;

  .logo{
    color:#F7E3B1;
  }
  ul li {
    
    a{
      height: 40px;
      line-height: 40px;
      &:hover{
        color: #f70a0a;
      }
    }
  }
}
