@import "@/assets/scss/Home/home.scss";

header{
    position: fixed;
    top: 0;
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(238,119,72,0);
    z-index: 10;
    transition: .7s;

      // .logo{
      //   color:rgb(255, 255, 255);
      //   font-weight: 700;
      //   text-decoration: none;
      //   font-size:2em;
      //   text-transform: uppercase;
      //   background: none;
      //   margin-right: 200px;
      // }
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        li{
          list-style: none;
          margin-right: 20px;
          background: none;
          a{
              color:#F7E3B1;
              border-radius: 20px;
              height:50px;
              line-height: 50px;
              display: inline-block;
              text-decoration: none;
              font-size: 1.2rem;
              font-weight:bolder;
              padding: 0 15px;
              letter-spacing: 1px;
              cursor: pointer;
              @media screen and (max-width:800px) {
                font-size: 1.1rem;
            }
              &:hover{
                  color:aliceblue;
                  background-color: #ee7748;
              }
            }
          a.router-link-exact-active{
              color:aliceblue;
              background-color: #ee7748;
          }
        }
      } 
  }

.scrolled-nav{
  background: #9E261B;
  box-shadow: 0 4px 10px -1px rgba(0,0,0,0.05), 0 2px 10px -1px rgba(0,0,0,0.06);
  height: 65px;
  .logo{
    color:#F7E3B1;
  }
  ul li a{
    height: 40px;
    line-height: 40px;
    &:hover{
      background-color: #f70a0a;
    }
  }
}